*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-end;
  max-inline-size: 1140px; 
  gap: 30px;
}

/* RESULT */
.result__video-container {
  position: relative;
  inline-size: 711px; 
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}


/* SEARCH-FORM */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-block-end: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px
}

.search-form__checkbox-list > .search-form__label { 
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
}

.search-form__textfield {
  appearance: none;
  inline-size: 225px;
  block-size: 27px;
  border-top: 1px solid rgba(255, 255, 255, 1); 
  border-bottom: 1px solid rgba(255, 255, 255, 1); 
  border-left: none; 
  border-right: none; 
  background-color: inherit;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0em;
  text-align: left;
  outline: none;
}


.search-form__pseudo-checkbox {
  display: inline-block; 
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
}

.search-form__label-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  align-self: center;
  vertical-align: middle;
}


 
  
/* CURSOR-POINTER */
.search-form__textfield,
.button {
  cursor: pointer; 
}

/* CONTENT-DETAILS */
.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  font-family: 'Oswald', sans-serif; 
  font-weight: 700; 
  font-size: 75px; 
  line-height: 70.5px;  
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__list {
  position: relative;
  max-block-size: 298px;
  overflow-y: scroll;
  margin-block-start: 26px;
}

/* BUTTONS */
.button {
  border: 1px solid #FFFFFF;
  background-color: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
  block-size: 34px;
}

.more-button {
  inline-size: 399px;
  block-size: 34px;
}


/* ТЕМПЛЕЙТЫ */
/* CARDS-LIST-ITEM-TEMPLATE */
.content__list-item:not(:last-of-type) {
  margin-block-end: 30px; 
}

.content__card-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

/* PRELOADER-TEMPLATE */
.preloader-template {
  position: absolute;
  inset: 0;
}

/* Состояния элементов формы и кнопок */
.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px	solid
  #FFFFFF;
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: #FFFFFF;
}



/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


















